doctype html
html
  head
    title Belle's Website
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 Title
          div bob
      block content
